.ghostButton {
  display: inline-block;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  border-radius: 6px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
